* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.body {
    width: 1050px;
    margin: 0 auto;

    .popup_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99;
        display: none;
        align-items: center;
        justify-content: center;

        .registration {
            width: 400px;
            background: #ffffff;
            border-radius: 5px;
            position: relative;

            .close_container {
                position: absolute;
                right: -25px;
                top: -25px;
                padding: 17px 20px;
                background-color: #ffc200;
                cursor: pointer;
                border-radius: 50%;

                i {
                    color: #ffffff;
                }
            }

            .registration_content {
                display: flex;
                align-items: center;
                padding: 30px;
                border-bottom: 1px solid #eee;

                h3 {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

            .inside_content {
                padding: 30px;

                form {
                    font-family: "BPG Arial";
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.14px;
                    color: #929292;

                    input {
                        width: 100%;
                        border: 1px solid #eeeeee;
                        background-color: #ffffff;
                        padding: 16px 0;
                        border-radius: 5px;
                        margin-top: 13px;
                        margin-bottom: 20px;
                        outline: none;
                        padding-left: 10px;


                    }

                    :focus {
                        color: #929292;
                    }

                    button {
                        box-shadow: 0 5px 5px rgba(66, 103, 178, 0.3);
                        background-color: #3767c9;
                        border: none;
                        color: #ffffff;
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.15px;
                        padding: 20px 0;
                        cursor: pointer;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .show {
        display: flex;
    }

    header {
        .top_container {

            h1 {
                width: 100%;
                background-size: cover;
                background-image: url('../images/REALI.png');
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
            width: 100%;

            .menu {
                display: flex;

                li {
                    .active {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }

                    a {
                        display: flex;
                        align-items: center;
                        padding: 18px;
                        color: white;

                        i {
                            margin-left: 5px;
                            font-size: 11px;
                        }
                    }
                }

                .dropdown_menu {
                    position: relative;


                    .dropdown_content {
                        width: 270px;
                        display: none;
                        z-index: 99;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
                        background-color: white;

                        &:hover {
                            background: #ffffff;
                        }

                        li {
                            &:hover {
                                background: transparent;
                            }

                            a {
                                display: flex;
                                padding: 0;
                                color: #8b8b8b;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0.13px;
                                line-height: 15.6px;
                                padding: 19px 18px;
                                border-bottom: 1px solid #eeeeee;
                            }

                            ::before {
                                content: "\2022";
                                color: #8b8b8b;
                                margin-right: 5px;
                            }

                            ::after {
                                content: "";
                                border-right: 1px solid red;
                                justify-content: flex-end;
                            }

                            :hover {
                                background: transparent;
                                color: #004aa6;
                                border-right: 3px solid #004aa6;
                                transition: .2s;
                            }
                        }
                    }
                }
            }

            .authorization {
                display: flex;
                align-items: center;
                position: relative;

                .registration {
                    button {
                        border: none;
                        background: transparent;

                        a {
                            display: block;
                            color: #76a5de;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.14px;
                            line-height: 16.8px;
                            padding: 20px;

                            :hover {
                                background: transparent;
                            }

                            i {
                                margin-right: 5px;
                                font-size: 11px;
                            }
                        }
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }
                }

                .sign_in {
                    a {
                        display: block;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0.14px;
                        line-height: 16.8px;
                        padding: 20px;

                        :hover {
                            background: transparent;
                        }

                        i {
                            margin-right: 5px;
                            font-size: 11px;
                        }
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }
                }
            }
        }

        .bottom_container {
            border-bottom: 1px solid #eeeeee;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left_container {
                display: flex;
                align-items: center;

                .social {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        padding: 16px;
                        border-right: 1px solid #eeeeee;
                    }
                }

                .form {
                    margin-left: 11px;

                    form {
                        button {
                            border-radius: 50%;
                            border: none;
                            cursor: pointer;
                            padding: 10px;
                            background-color: #055bc6;
                            outline: none;

                            i {
                                color: #ffffff;
                            }
                        }

                        input {
                            padding: 8px;
                            border: none;
                            outline: none;
                        }

                        :focus {
                            color: #929292;
                        }

                        ::placeholder {
                            color: #bdbcb9;
                            font-family: Arial;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.8px;
                        }
                    }
                }
            }

            .right_container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hover_container {
                    display: none;
                    justify-content: space-between;
                    border: 1px solid #eeeeee;
                    transition: 2s;

                    .team {
                        border-right: 1px solid #eeeeee;

                        a {
                            display: flex;
                            align-items: center;
                            color: #666666;
                            font-family: Arial;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: uppercase;
                            padding: 10px 18px;
                            cursor: pointer;

                            img {
                                margin-right: 7px;
                            }
                        }
                    }
                }

                .blitz {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 20px;
                        color: #004aa6;
                        display: none;
                    }

                    a {
                        display: block;
                        padding: 10px 18px;
                    }

                    :hover {
                        border-radius: 3px;
                        background-color: #004aa6;
                    }
                }

                .show {
                    display: flex;
                }
            }
        }
    }

    .container {
        padding: 15px;

        .content {
            display: flex;
            justify-content: space-between;

            .left_container {
                display: flex;
                width: 635px;
                height: 330px;

                // Slider styles

                .swiper-container-horizontal>.swiper-pagination-bullets,
                .swiper-pagination-custom,
                .swiper-pagination-fraction {
                    top: 15px;
                    left: 15px;
                    width: auto;
                }

                .swiper-pagination-bullet {
                    background-color: #f7f7f8;
                    opacity: 1;
                }

                .swiper-pagination-white .swiper-pagination-bullet-active {
                    background-color: #ffc200;
                }

                .swiper-button-next,
                .swiper-button-prev {
                    background-size: 8px 13px;
                    outline: none;
                    background: #f7f7f8;
                    cursor: pointer;
                    margin-top: -60px;
                }

                .navigation_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;

                    i {
                        color: #004aa6;
                    }
                }

                .swiper-slide {
                    background-image: url('../images/slider_images/1.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: flex-end;

                    .slider_content {
                        margin: 0 15px 15px 15px;
                        width: 100%;
                        background-color: #000000;
                        opacity: 0.9;

                        .text_container {
                            border-bottom: 1px solid rgba(247, 247, 248, 0.1);
                            padding: 21px 25px;

                            h2 {
                                color: #f7f7f8;
                                font-size: 15px;
                                font-weight: 400;
                                letter-spacing: 0.07px;
                                line-height: 18px;
                            }
                        }

                        .bottom_container {
                            padding: 15px 17px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .info_container {
                                display: flex;
                                align-items: center;

                                p {
                                    color: #f7f7f8;
                                    font-family: Arial;
                                    font-size: 13px;
                                    font-weight: 400;
                                    letter-spacing: 0.07px;
                                    line-height: 15.6px;
                                    margin-right: 45px;

                                    i {
                                        margin-right: 5px;
                                    }
                                }
                            }

                            .more {
                                background-color: #004aa6;
                                background-color: #004aa6;
                                padding: 10px 13px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                i {
                                    font-size: 11px;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                .swiper-slide2 {
                    background-image: url('../images/slider_images/2.png');
                }

                .swiper-slide3 {
                    background-image: url('../images/slider_images/3.png');
                }


                .swiper-container {
                    width: 100%;
                    height: 100%;
                    background: #000;
                }

                .swiper-slide {
                    font-size: 18px;
                    color: #fff;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                .parallax-bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 130%;
                    height: 100%;
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                }
            }

            // End style
            .right_container {
                width: 370px;
                border: 1px solid #eeeeee;

                // Tabs style
                .top_container {
                    margin: 5px 0 0 0;
                    border-bottom: 1px solid #eeeeee;

                }

                .tab {
                    margin: 0 5px 5px 5px;
                    padding: 5px;
                    border-radius: 30px;
                    background-color: #f2f2f2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        border: none;
                        background: transparent;
                        outline: none;
                        cursor: pointer;
                        color: #999999;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15.6px;

                        i {
                            margin-right: 5px;
                            font-size: 10px;
                        }
                    }

                    .previous {
                        border-radius: 20px;
                        padding: 8px 0;
                        flex: 1;
                    }

                    .next {
                        border-radius: 20px;
                        padding: 8px 0;
                        flex: 1;
                    }

                    .active {
                        color: #0559c1;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15.6px;
                        background-color: #ffffff;

                    }
                }
            }
        }
    }
}