* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: neuel;
  src: url(../fonts/HelveticaNeueLTGEO-55Roman.otf);
}

@font-face {
  font-family: neuel-bold;
  src: url(../fonts/HelveticaNeueLTGEO-75Bold.otf);
}

@font-face {
  font-family: arial;
  src: url(../fonts/bpg_arial_0.ttf);
}

.body {
  width: 1050px;
  margin: 0 auto;
  font-family: neuel;
}

.body .popup_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .popup_container .registration {
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}

.body .popup_container .registration .close_container {
  position: absolute;
  right: -25px;
  top: -25px;
  padding: 17px 20px;
  background-color: #ffc200;
  cursor: pointer;
  border-radius: 50%;
}

.body .popup_container .registration .close_container i {
  color: #ffffff;
}

.body .popup_container .registration .registration_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-bottom: 1px solid #eee;
}

.body .popup_container .registration .registration_content h3 {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.body .popup_container .registration .inside_content {
  padding: 30px;
}

.body .popup_container .registration .inside_content form {
  font-family: "BPG Arial";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  color: #929292;
}

.body .popup_container .registration .inside_content form input {
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 16px 0;
  border-radius: 5px;
  margin-top: 13px;
  margin-bottom: 20px;
  outline: none;
  padding-left: 10px;
}

.body .popup_container .registration .inside_content form :focus {
  color: #929292;
}

.body .popup_container .registration .inside_content form .input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .popup_container .registration .inside_content form .input_container i {
  background-color: #222428;
  padding: 17px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #ffffff;
}

.body .popup_container .registration .inside_content form .input_container input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body .popup_container .registration .inside_content form .checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.body .popup_container .registration .inside_content form .checked input {
  width: auto;
  margin: 0;
  margin-right: 5px;
}

.body .popup_container .registration .inside_content form .registration_button {
  -webkit-box-shadow: 0 5px 5px rgba(66, 103, 178, 0.3);
          box-shadow: 0 5px 5px rgba(66, 103, 178, 0.3);
  background-color: #3767c9;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.body .popup_container .registration .inside_content form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .popup_container .registration .inside_content form .button button {
  padding: 15px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.body .popup_container .registration .inside_content form .button .sign_in {
  background-color: #e7b105;
}

.body .popup_container .registration .inside_content form .button .password {
  background-color: #222428;
}

.body .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body header .top_container h1 {
  width: 100%;
  background-size: cover;
  background-image: url("../images/REALI.png");
}

.body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#004aa6), to(#055cc7));
  background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
  width: 100%;
}

.body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body header nav .menu li .active {
  background: -webkit-gradient(linear, left bottom, left top, from(#055cc7), to(#004ba7));
  background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
}

.body header nav .menu li :hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#055cc7), to(#004ba7));
  background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
}

.body header nav .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  color: white;
}

.body header nav .menu li a i {
  margin-left: 5px;
  font-size: 11px;
}

.body header nav .menu .dropdown_menu {
  position: relative;
}

.body header nav .menu .dropdown_menu .dropdown_content {
  width: 270px;
  display: none;
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.body header nav .menu .dropdown_menu .dropdown_content:hover {
  background: #ffffff;
}

.body header nav .menu .dropdown_menu .dropdown_content li:hover {
  background: transparent;
}

.body header nav .menu .dropdown_menu .dropdown_content li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 15.6px;
  padding: 19px 18px;
  border-bottom: 1px solid #eeeeee;
}

.body header nav .menu .dropdown_menu .dropdown_content li ::before {
  content: "\2022";
  color: #8b8b8b;
  margin-right: 5px;
}

.body header nav .menu .dropdown_menu .dropdown_content li ::after {
  content: "";
  border-right: 1px solid red;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body header nav .menu .dropdown_menu .dropdown_content li :hover {
  background: transparent;
  color: #004aa6;
  border-right: 3px solid #004aa6;
  -webkit-transition: .2s;
  transition: .2s;
}

.body header nav .menu .dropdown_menu .arrow_up {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.body header nav .menu .dropdown_menu:hover .arrow_down {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.body header nav .menu .dropdown_menu:hover .arrow_up {
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.body header nav .menu .dropdown_menu:hover .dropdown_content {
  display: block;
  opacity: 1;
}

.body header nav .authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.body header nav .authorization .registration button {
  border: none;
  background: transparent;
}

.body header nav .authorization .registration button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #76a5de;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  padding: 20px;
}

.body header nav .authorization .registration button a :hover {
  background: transparent;
}

.body header nav .authorization .registration button a p {
  margin-left: 6px;
}

.body header nav .authorization .registration :hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#055cc7), to(#004ba7));
  background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
}

.body header nav .authorization .sign_in button {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  padding: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-left: 1px solid #03479b;
  outline: none;
}

.body header nav .authorization .sign_in button :hover {
  background: transparent;
}

.body header nav .authorization .sign_in button i {
  margin-right: 5px;
  font-size: 11px;
}

.body header nav .authorization .sign_in :hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#055cc7), to(#004ba7));
  background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
}

.body header .bottom_container {
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body header .bottom_container .left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body header .bottom_container .left_container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body header .bottom_container .left_container .social a {
  display: block;
  padding: 16px;
  border-right: 1px solid #eeeeee;
}

.body header .bottom_container .left_container .form {
  margin-left: 11px;
}

.body header .bottom_container .left_container .form form button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #055bc6;
  outline: none;
}

.body header .bottom_container .left_container .form form button i {
  color: #ffffff;
}

.body header .bottom_container .left_container .form form input {
  padding: 8px;
  border: none;
  outline: none;
}

.body header .bottom_container .left_container .form form :focus {
  color: #929292;
}

.body header .bottom_container .left_container .form form ::-webkit-input-placeholder {
  color: #bdbcb9;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.body header .bottom_container .left_container .form form :-ms-input-placeholder {
  color: #bdbcb9;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.body header .bottom_container .left_container .form form ::-ms-input-placeholder {
  color: #bdbcb9;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.body header .bottom_container .left_container .form form ::placeholder {
  color: #bdbcb9;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.body header .bottom_container .right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body header .bottom_container .right_container .company_icons {
  position: relative;
}

.body header .bottom_container .right_container .company_icons .blitz {
  position: relative;
}

.body header .bottom_container .right_container .company_icons .blitz i {
  position: absolute;
  top: 28px;
  left: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: none;
}

.body header .bottom_container .right_container .company_icons .blitz i:hover {
  display: inline-block;
}

.body header .bottom_container .right_container .company_icons .blitz a {
  display: inline-block;
  width: 100px;
  height: 30px;
  background: url("../images/blitz.png") no-repeat center;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.body header .bottom_container .right_container .company_icons .blitz a:hover {
  background: url("../images/blitz_hover.png") no-repeat center;
  background-color: #004aa6;
}

.body header .bottom_container .right_container .company_icons .hover_container {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
}

.body header .bottom_container .right_container .company_icons .hover_container .team {
  border-right: 1px solid #eeeeee;
}

.body header .bottom_container .right_container .company_icons .hover_container .team a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 18px;
  cursor: pointer;
}

.body header .bottom_container .right_container .company_icons .hover_container .team a img {
  margin-right: 5px;
}

.body header .bottom_container .right_container .company_icons .hover_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.body header .bottom_container .right_container .company_icons:hover .hover_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: moveDown 1s;
          animation: moveDown 1s;
}

.body .container {
  padding: 15px;
}

.body .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .container .content .left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  height: 330px;
}

.body .container .content .left_container .swiper-container-horizontal > .swiper-pagination-bullets,
.body .container .content .left_container .swiper-pagination-custom,
.body .container .content .left_container .swiper-pagination-fraction {
  top: 15px;
  left: 15px;
  width: auto;
  height: 24px;
}

.body .container .content .left_container .swiper-button-next,
.body .container .content .left_container .swiper-button-prev {
  width: auto;
  height: auto;
}

.body .container .content .left_container .container .content .left_container .navigation_button :hover {
  background: red;
}

.body .container .content .left_container .swiper-pagination-bullet {
  background-color: #f7f7f8;
  opacity: 1;
}

.body .container .content .left_container .swiper-pagination-white .swiper-pagination-bullet-active {
  background-color: #ffc200;
}

.body .container .content .left_container .swiper-button-next,
.body .container .content .left_container .swiper-button-prev {
  background-size: 8px 13px;
  outline: none;
  background: #f7f7f8;
  cursor: pointer;
  margin-top: -60px;
}

.body .container .content .left_container .navigation_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.body .container .content .left_container .navigation_button i {
  color: #004aa6;
  padding: 15px;
}

.body .container .content .left_container .navigation_button :hover {
  background-color: #ffc200;
  color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .container .content .left_container .swiper-slide {
  background-image: url("../images/slider_images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.body .container .content .left_container .swiper-slide .slider_content {
  margin: 0 15px 15px 15px;
  width: 100%;
  background-color: #000000;
  opacity: 0.9;
}

.body .container .content .left_container .swiper-slide .slider_content .text_container {
  border-bottom: 1px solid rgba(247, 247, 248, 0.1);
  padding: 21px 25px;
}

.body .container .content .left_container .swiper-slide .slider_content .text_container h2 {
  color: #f7f7f8;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 18px;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container {
  padding: 15px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container .info_container p {
  color: #818181;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 15.6px;
  margin-right: 45px;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container .info_container p i {
  margin-right: 5px;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container .more {
  background-color: #004aa6;
  background-color: #004aa6;
  padding: 10px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.body .container .content .left_container .swiper-slide .slider_content .bottom_container .more i {
  font-size: 11px;
  color: #ffffff;
}

.body .container .content .left_container .swiper-slide2 {
  background-image: url("../images/slider_images/2.png");
}

.body .container .content .left_container .swiper-slide3 {
  background-image: url("../images/slider_images/3.png");
}

.body .container .content .left_container .swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}

.body .container .content .left_container .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body .container .content .right_container {
  width: 370px;
  border: 1px solid #eeeeee;
}

.body .container .content .right_container .top_container {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #eeeeee;
}

.body .container .content .right_container .tab {
  margin: 0 5px 10px 5px;
  padding: 5px;
  border-radius: 30px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .container .content .right_container .tab button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.body .container .content .right_container .tab button i {
  margin-right: 5px;
  font-size: 10px;
}

.body .container .content .right_container .tab .previous {
  border-radius: 20px;
  padding: 8px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body .container .content .right_container .tab .next {
  border-radius: 20px;
  padding: 8px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body .container .content .right_container .tab .active {
  color: #0559c1;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  background-color: #ffffff;
}

.body .container .content .right_container .tabcontent {
  display: none;
  padding: 26px 0px 0px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .container .content .right_container .tabcontent .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .container .content .right_container .tabcontent .inside_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .container .content .right_container .tabcontent .inside_content .container {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .container .content .right_container .tabcontent .inside_content .container span {
  display: block;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-top: 15px;
}

.body .container .content .right_container .tabcontent .inside_content .middle_side {
  display: block;
  text-align: center;
}

.body .container .content .right_container .tabcontent .inside_content .middle_side .score_container {
  border: 1px solid #eeeeee;
  padding: 12px 20px;
  margin: 0 auto;
  margin-top: 15px;
  color: #333333;
  font-size: 18px;
}

.body .container .content .right_container .tabcontent .video_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-top: 10px;
}

.body .container .content .right_container .tabcontent .video_container i {
  margin-right: 5px;
}

.body .container .content .right_container .tabcontent .video_container a {
  display: block;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.body .container .content .right_container .tabcontent .video_container a i {
  font-size: 5px;
  color: #004aa6;
  border: 1px solid #777;
  padding: 3px;
  padding-left: 4px;
  border-radius: 50%;
  margin-right: 5px;
}

.body .container .content .right_container .tabcontent .bottom_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6px;
}

.body .container .content .right_container .tabcontent .bottom_side span {
  display: block;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  margin-left: 6px;
}

.body .container .content .right_container .tabcontent .bottom_container {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container .content .right_container .tabcontent .bottom_container i {
  font-size: 18px;
  color: #9c9797;
  margin-right: 10px;
}

.body .container .content .right_container .tabcontent .bottom_container span {
  display: block;
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .container .content .right_container .tabcontent .bottom_container #getting-started {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-left: 5px;
}

.body .container .content .right_container .hide_tab {
  display: none;
}

.body .container .content .right_container .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .container .content .right_container .show_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.body .container .content .right_container .hide_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.body .reclam_baner {
  background-image: url("../images/reclam.png");
  height: 100px;
}

.body .web_content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .web_content .left_right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .web_content .left_right_side .left_side {
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body .web_content .left_right_side .left_side button {
  border: none;
  width: 643px;
  margin: 0 15px 15px 15px;
}

.body .web_content .left_right_side .left_side button a {
  display: block;
  border: none;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#004aa6), to(#055cc7));
  background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 19px;
  outline: none;
  cursor: pointer;
}

.body .web_content .left_right_side .left_side .top_container {
  border-bottom: 1px solid #eeeeee;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .web_content .left_right_side .left_side .top_container .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .left_side .top_container .news span {
  display: block;
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 18px;
  margin-left: 7px;
}

.body .web_content .left_right_side .left_side .top_container .change_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .web_content .left_right_side .left_side .top_container .change_container .change {
  border-radius: 3px;
  background-color: #eaeaea;
  padding: 12px;
  cursor: pointer;
}

.body .web_content .left_right_side .left_side .top_container .change_container .change svg {
  margin-right: 0;
}

.body .web_content .left_right_side .left_side .top_container .change_container :first-child {
  margin-right: 12px;
}

.body .web_content .left_right_side .left_side .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .web_content .left_right_side .left_side .container .news {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  width: 49%;
}

.body .web_content .left_right_side .left_side .container .news .news_image_container {
  overflow: hidden;
  position: relative;
  height: 190px;
}

.body .web_content .left_right_side .left_side .container .news .news_image_container a {
  display: block;
}

.body .web_content .left_right_side .left_side .container .news .news_image_container a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.body .web_content .left_right_side .left_side .container .news .news_image_container .comment {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .left_side .container .news .news_image_container .comment span {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 20px;
  margin-left: 5px;
}

.body .web_content .left_right_side .left_side .container .news h3 {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 19px;
  padding: 16px;
}

.body .web_content .left_right_side .left_side .container .news .bottom_container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .web_content .left_right_side .left_side .container .news .bottom_container .time i {
  color: #888888;
  font-size: 15px;
}

.body .web_content .left_right_side .left_side .container .news .bottom_container .time span {
  color: #888888;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.21px;
  line-height: 20px;
  margin-left: 5px;
}

.body .web_content .left_right_side .left_side .container .news .bottom_container .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .left_side .container .news .bottom_container .author span {
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 20px;
  margin-left: 5px;
}

.body .web_content .left_right_side .right_side {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.body .web_content .left_right_side .right_side .top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  padding: 10px 10px 10px 0px;
  border: 1px solid #eeeeee;
}

.body .web_content .left_right_side .right_side .top_container .swiper_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .web_content .left_right_side .right_side .top_container .swiper_arrows i {
  color: #000000;
  font-size: 8px;
  background-color: #eeeeee;
  padding: 9px 11px 9px 11px;
  border-radius: 50%;
  margin-right: 10px;
}

.body .web_content .left_right_side .right_side .top_container .swiper_arrows i:hover {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#004aa6), to(#055cc7));
  background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
}

.body .web_content .left_right_side .right_side .top_container .swiper_arrows .swiper-button-next i {
  margin-right: 0;
}

.body .web_content .left_right_side .right_side .swiper-button-next.swiper-button-disabled,
.body .web_content .left_right_side .right_side .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.body .web_content .left_right_side .right_side .swiper-button-next,
.body .web_content .left_right_side .right_side .swiper-button-prev {
  position: initial;
  color: red;
  width: auto;
  height: auto;
  top: 0;
}

.body .web_content .left_right_side .right_side .swiper-pagination {
  position: initial;
}

.body .web_content .left_right_side .right_side .swiper-button-prev,
.body .web_content .left_right_side .right_side .swiper-container-rtl .swiper-button-next {
  background: none;
}

.body .web_content .left_right_side .right_side .swiper-button-next,
.body .web_content .left_right_side .right_side .swiper-container-rtl .swiper-button-prev {
  background: none;
}

.body .web_content .left_right_side .right_side .swiper-pagination-bullet {
  width: 50px;
  height: 2px;
  border-radius: 2px;
  margin-left: 15px;
  background-color: #0559c1;
}

.body .web_content .left_right_side .right_side .swiper-pagination-white .swiper-pagination-bullet-active {
  background-color: #ffc200;
}

.body .web_content .left_right_side .right_side .swiper-button-next,
.body .web_content .left_right_side .right_side .swiper-button-prev {
  background-size: 8px 13px;
  outline: none;
  cursor: pointer;
  right: 0;
  margin-top: 0;
}

.body .web_content .left_right_side .right_side .tabs_slider {
  padding: 15px 15px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.body .web_content .left_right_side .right_side .tab {
  padding: 5px;
  border-radius: 30px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.body .web_content .left_right_side .right_side .tab button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.body .web_content .left_right_side .right_side .tab button svg {
  margin-right: 6px;
}

.body .web_content .left_right_side .right_side .tab .active {
  color: #0559c1;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  background-color: #ffffff;
}

.body .web_content .left_right_side .right_side .tab .previous {
  border-radius: 20px;
  padding: 8px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.body .web_content .left_right_side .right_side .tab .next {
  border-radius: 20px;
  padding: 8px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.body .web_content .left_right_side .right_side .tabcontent {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .web_content .left_right_side .right_side .tabcontent .title {
  background-color: rgba(238, 238, 238, 0.4);
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-container-horizontal > .swiper-pagination-bullets,
.body .web_content .left_right_side .right_side .tabcontent .swiper-pagination-custom,
.body .web_content .left_right_side .right_side .tabcontent .swiper-pagination-fraction {
  top: -20px;
  left: 0;
}

.body .web_content .left_right_side .right_side .tabcontent .score_title {
  background-color: rgba(238, 238, 238, 0.4);
  padding: 20px;
  margin-top: 15px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.body .web_content .left_right_side .right_side .tabcontent .score_title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.body .web_content .left_right_side .right_side .tabcontent .score_title .container span {
  display: block;
  margin-right: 25px;
  color: #7b7c7e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .web_content .left_right_side .right_side .tabcontent .score_title .container span:last-child {
  margin-right: 0;
}

.body .web_content .left_right_side .right_side .tabcontent .container .content .left_container .navigation_button :hover {
  background: red;
}

.body .web_content .left_right_side .right_side .tabcontent .navigation_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.body .web_content .left_right_side .right_side .tabcontent .navigation_button i {
  color: #004aa6;
  padding: 15px;
}

.body .web_content .left_right_side .right_side .tabcontent .navigation_button :hover {
  background-color: #ffc200;
  color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score:last-child {
  margin-bottom: 0;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .list {
  border-radius: 3px;
  background-color: #cdd2dd;
  padding: 17px 22px 17px 19px;
  position: relative;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .list span {
  color: #707f9f;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .list .team {
  position: absolute;
  top: 12px;
  padding: 7px 8px 4px 7px;
  background-color: #fff;
  right: -15px;
  border-radius: 50%;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .list .team img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .team_title {
  width: 100%;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .team_title span {
  display: block;
  color: #7b7c7e;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-left: 20px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .team_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .teams .score .team_score span {
  display: block;
  margin-right: 15px;
  color: #7b7c7e;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score {
  margin-top: 15px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score span {
  display: block;
  color: #7b7c7e;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .team {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .team img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .score span {
  display: block;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .score span:first-child {
  color: #707f9f;
  font-family: arial;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 28.8px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-slide .match_score .match .score span:last-child {
  color: #a4a6ab;
  font-family: arial;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 12px;
}

.body .web_content .left_right_side .right_side .tabcontent .swiper-container {
  width: 100%;
  height: 100%;
}

.body .web_content .left_right_side .right_side .hide_tab {
  display: none;
}

.body .web_content .left_right_side .right_side .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .web_content .left_right_side .right_side .show_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  overflow: hidden;
}

.body .web_content .left_right_side .right_side .hide_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.body .web_content .left_right_side .right_side .blog_container {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #eeeeee;
}

.body .web_content .left_right_side .right_side .blog {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 15px;
}

.body .web_content .left_right_side .right_side .blog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.body .web_content .left_right_side .right_side .blog_content:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.body .web_content .left_right_side .right_side .blog_content .image_container {
  width: 80px;
  height: 75px;
  border-radius: 3px;
  position: relative;
}

.body .web_content .left_right_side .right_side .blog_content .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body .web_content .left_right_side .right_side .blog_content .image_container .hover_container {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 74, 166, 0.7);
  color: #ffffff;
  font-size: 19px;
  border-radius: 3px;
}

.body .web_content .left_right_side .right_side .blog_content .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

.body .web_content .left_right_side .right_side .blog_content .text_container h3 {
  color: #44484d;
  font-family: arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 17px;
}

.body .web_content .left_right_side .right_side .blog_content .text_container span {
  display: block;
  color: #a8a8aa;
  font-family: arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 17px;
  margin-top: 8px;
}

.body .web_content .left_right_side .right_side .blog_content .text_container span i {
  margin-right: 5px;
}

.body .web_content .left_right_side .right_side .blog_content:hover .hover_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .web_content .left_right_side .right_side .blog_content:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #004aa6;
}

.body .web_content .left_right_side .right_side .poll_container {
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 15px;
}

.body .web_content .left_right_side .right_side .poll_container .background_container {
  background-image: url("../images/poll_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.body .web_content .left_right_side .right_side .poll_container .background_container .top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  padding: 0;
  border: none;
}

.body .web_content .left_right_side .right_side .poll_container .background_container .top_container span {
  color: #ffffff;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-left: 10px;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text {
  padding: 20px 25px;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text h4 {
  color: #74777a;
  font-family: arial;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 25px;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #f4f4f4;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  cursor: pointer;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress .progress_bar {
  background: #e8e8e8;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress .progress_bar span {
  display: block;
  color: #74777a;
  font-family: arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  padding: 12px;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress span {
  color: #74777a;
  font-family: arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  padding: 12px;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress:hover .progress_bar {
  background-color: #ffc200;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress:hover .progress_bar span {
  color: #735803;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .left_right_side .right_side .poll_container .poll_text .progress:hover span {
  color: #735803;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .left_right_side .right_side .loss_container {
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 15px;
}

.body .web_content .left_right_side .right_side .loss_container .background_container {
  background-image: url("../images/poll_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.body .web_content .left_right_side .right_side .loss_container .background_container .top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  padding: 0;
  border: none;
}

.body .web_content .left_right_side .right_side .loss_container .background_container .top_container span {
  color: #ffffff;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-left: 10px;
}

.body .web_content .left_right_side .right_side .loss_container .loss_text {
  padding: 25px;
}

.body .web_content .left_right_side .right_side .loss_container .loss_text p {
  color: #787878;
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-top: 10px;
}

.body .web_content .left_right_side .right_side .loss_container .loss_text .loss_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.body .web_content .left_right_side .right_side .loss_container .loss_text .loss_title:first-child {
  margin-top: 0;
}

.body .web_content .left_right_side .right_side .loss_container .loss_text .loss_title h4 {
  color: #44484d;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
  margin-left: 8px;
}

.body .web_content .left_right_side .right_side .reclam_banner {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-image: url("../images/reclam1.png");
}

.body .web_content .bottom_container {
  border: 1px solid #eeeeee;
  margin-top: 15px;
}

.body .web_content .bottom_container .top_container {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

.body .web_content .bottom_container .top_container .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .web_content .bottom_container .top_container .tab button {
  border: 1px solid #eeeeee;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
  color: #555555;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .bottom_container .top_container .tab button:last-child {
  margin-right: 0;
}

.body .web_content .bottom_container .top_container .tab button:hover {
  background: #0559c1;
  color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .bottom_container .top_container .tab button:hover i {
  color: #ffffff;
  border-color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.body .web_content .bottom_container .top_container .tab button .video_icon {
  font-size: 5px;
  color: #555555;
  border: 1px solid #555555;
  padding: 3px;
  padding-left: 4px;
  border-radius: 50%;
}

.body .web_content .bottom_container .top_container .tab button i {
  margin-right: 5px;
}

.body .web_content .bottom_container .top_container .tab .active {
  background: #0559c1;
  color: #ffffff;
}

.body .web_content .bottom_container .top_container .tab .active i {
  color: #ffffff;
  border-color: #ffffff;
}

.body .web_content .bottom_container .video_container {
  padding: 15px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .web_content .bottom_container .video_container .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .web_content .bottom_container .video_container .video {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  margin-right: 15px;
  overflow: hidden;
  width: 40%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
}

.body .web_content .bottom_container .video_container .video:last-child {
  margin-right: 0;
}

.body .web_content .bottom_container .video_container .video .image_container {
  border-bottom: 3px solid #004aa6;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.body .web_content .bottom_container .video_container .video .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body .web_content .bottom_container .video_container .video .image_container .video_button {
  position: absolute;
  top: 35%;
  left: 40%;
  font-size: 32px;
  color: #fff;
}

.body .web_content .bottom_container .video_container .video .title h3 {
  color: #333333;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px;
}

.body .web_content .bottom_container .hide_tab {
  display: none;
}

.body .web_content .bottom_container .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .web_content .bottom_container .show_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.body .web_content .bottom_container .hide_tab {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.body .web_content .reclam {
  background-color: rgba(238, 238, 238, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .reclam .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content .reclam .left .container {
  padding: 20px;
  border-right: 1px solid #eeeeee;
}

.body .web_content .reclam .left .container img {
  margin-right: 5px;
}

.body .web_content .reclam .left .container span {
  color: #888888;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 16.8px;
}

.body .web_content .reclam .right {
  border-radius: 3px;
  background-color: #e2e2e2;
}

.body .web_content .reclam .right i {
  color: #7c7c7c;
  padding: 10px 12px;
}

.body .web_content footer {
  padding: 15px;
  margin: 15px;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .web_content footer span {
  display: block;
  color: #999999;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
/*# sourceMappingURL=styles.css.map */