* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: neuel;
    src: url(../fonts/HelveticaNeueLTGEO-55Roman.otf);
}

@font-face {
    font-family: neuel-bold;
    src: url(../fonts/HelveticaNeueLTGEO-75Bold.otf);
}

.body {
    width: 1050px;
    margin: 0 auto;

    .popup_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99;
        display: none;
        align-items: center;
        justify-content: center;

        .registration {
            width: 400px;
            background: #ffffff;
            border-radius: 5px;
            position: relative;

            .close_container {
                position: absolute;
                right: -25px;
                top: -25px;
                padding: 17px 20px;
                background-color: #ffc200;
                cursor: pointer;
                border-radius: 50%;

                i {
                    color: #ffffff;
                }
            }

            .registration_content {
                display: flex;
                align-items: center;
                padding: 30px;
                border-bottom: 1px solid #eee;

                h3 {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

            .inside_content {
                padding: 30px;

                form {
                    font-family: "BPG Arial";
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.14px;
                    color: #929292;

                    input {
                        width: 100%;
                        border: 1px solid #eeeeee;
                        background-color: #ffffff;
                        padding: 16px 0;
                        border-radius: 5px;
                        margin-top: 13px;
                        margin-bottom: 20px;
                        outline: none;
                        padding-left: 10px;


                    }

                    :focus {
                        color: #929292;
                    }

                    button {
                        box-shadow: 0 5px 5px rgba(66, 103, 178, 0.3);
                        background-color: #3767c9;
                        border: none;
                        color: #ffffff;
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.15px;
                        padding: 20px 0;
                        cursor: pointer;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .show {
        display: flex;
    }

    header {
        .top_container {

            h1 {
                width: 100%;
                background-size: cover;
                background-image: url('../images/REALI.png');
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
            width: 100%;

            .menu {
                display: flex;

                li {
                    .active {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }

                    a {
                        display: flex;
                        align-items: center;
                        padding: 18px;
                        color: white;

                        i {
                            margin-left: 5px;
                            font-size: 11px;
                        }
                    }
                }

                .dropdown_menu {
                    position: relative;

                    .dropdown_content {
                        width: 270px;
                        display: none;
                        z-index: 99;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
                        background-color: white;

                        &:hover {
                            background: #ffffff;
                        }

                        li {
                            &:hover {
                                background: transparent;
                            }

                            a {
                                display: flex;
                                padding: 0;
                                color: #8b8b8b;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0.13px;
                                line-height: 15.6px;
                                padding: 19px 18px;
                                border-bottom: 1px solid #eeeeee;
                            }

                            ::before {
                                content: "\2022";
                                color: #8b8b8b;
                                margin-right: 5px;
                            }

                            ::after {
                                content: "";
                                border-right: 1px solid red;
                                justify-content: flex-end;
                            }

                            :hover {
                                background: transparent;
                                color: #004aa6;
                                border-right: 3px solid #004aa6;
                                transition: .2s;
                            }
                        }  
                    }
                    .arrow_up{
                        display: none;
                        transition: .3s;
                    }
                    :hover .arrow_down{
                        display: none;
                        transition: .3s;
                    }
                    :hover .arrow_up{
                        display: inline-block;
                        transition: .3s;
                    }
                }
            }

            .authorization {
                display: flex;
                align-items: center;
                position: relative;

                .registration {
                    button {
                        border: none;
                        background: transparent;

                        a {
                            display: flex;
                            align-items: center;
                            color: #76a5de;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.14px;
                            line-height: 16.8px;
                            padding: 20px;

                            :hover {
                                background: transparent;
                            }

                            p {
                                margin-left: 6px;
                            }
                        }
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }
                }

                .sign_in {
                    a {
                        display: block;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0.14px;
                        line-height: 16.8px;
                        padding: 20px;
                        border-left: 1px solid #03479b;

                        :hover {
                            background: transparent;
                        }

                        i {
                            margin-right: 5px;
                            font-size: 11px;
                        }
                    }

                    :hover {
                        background: linear-gradient(to top, #055cc7 0%, #004ba7 100%);
                    }
                }
            }
        }

        .bottom_container {
            border-bottom: 1px solid #eeeeee;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left_container {
                display: flex;
                align-items: center;

                .social {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        padding: 16px;
                        border-right: 1px solid #eeeeee;
                    }
                }

                .form {
                    margin-left: 11px;

                    form {
                        button {
                            border-radius: 50%;
                            border: none;
                            cursor: pointer;
                            padding: 10px;
                            background-color: #055bc6;
                            outline: none;

                            i {
                                color: #ffffff;
                            }
                        }

                        input {
                            padding: 8px;
                            border: none;
                            outline: none;
                        }

                        :focus {
                            color: #929292;
                        }

                        ::placeholder {
                            color: #bdbcb9;
                            font-family: Arial;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.8px;
                        }
                    }
                }
            }

            .right_container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .company_icons {
                    position: relative;

                    .blitz {
                        position: relative;

                        i {
                            position: absolute;
                            top: 28px;
                            left: 50%;
                            transform: rotate(-90deg);
                            display: none;

                            :hover {
                                display: inline-block;
                            }
                        }

                        a {
                            display: inline-block;
                            width: 100px;
                            height: 30px;
                            background: url("../images/blitz.png") no-repeat center;
                            border-radius: 3px;
                            transition: 0.4s;

                            &:hover {
                                background: url("../images/blitz_hover.png") no-repeat center;
                                background-color: #004aa6;
                            }
                        }

                    }

                    .hover_container {
                        display: none;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        border: 1px solid #eeeeee;
                        position: absolute;
                        top: 40px;
                        right: 0;
                        background: white;
                        animation: moveDown 1s;


                        .team {
                            border-right: 1px solid #eeeeee;

                            a {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                color: #666666;
                                font-size: 12px;
                                font-weight: 400;
                                text-transform: uppercase;
                                padding: 10px 18px;
                                cursor: pointer;
                            }
                        }

                        :hover {
                            display: flex;
                        }
                    }

                    @keyframes moveDown {
                        from {
                            transform: translateY(-20%);
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                }

                .show {
                    display: flex !important;
                }
            }
        }
    }

    .container {
        padding: 15px;

        .content {
            display: flex;
            justify-content: space-between;

            .left_container {
                display: flex;
                width: 635px;
                height: 330px;

                // Slider styles

                .swiper-container-horizontal>.swiper-pagination-bullets,
                .swiper-pagination-custom,
                .swiper-pagination-fraction {
                    top: 15px;
                    left: 15px;
                    width: auto;
                    height: 24px;
                }
                .swiper-button-next, .swiper-button-prev{
                    width: auto;
                    height: auto;
                }
                .container .content .left_container .navigation_button{
                    :hover{
                        background: red;
                    }
                }
                .swiper-pagination-bullet {
                    background-color: #f7f7f8;
                    opacity: 1;
                }

                .swiper-pagination-white .swiper-pagination-bullet-active {
                    background-color: #ffc200;
                }

                .swiper-button-next,
                .swiper-button-prev {
                    background-size: 8px 13px;
                    outline: none;
                    background: #f7f7f8;
                    cursor: pointer;
                    margin-top: -60px;
                }

                .navigation_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;

                    i {
                        color: #004aa6;
                        padding: 15px;
                    }

                    :hover{
                        background-color: #ffc200;
                        color: #000000;
                        transition: .2s;
                    }
                }

                .swiper-slide {
                    background-image: url('../images/slider_images/1.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: flex-end;

                    .slider_content {
                        margin: 0 15px 15px 15px;
                        width: 100%;
                        background-color: #000000;
                        opacity: 0.9;

                        .text_container {
                            border-bottom: 1px solid rgba(247, 247, 248, 0.1);
                            padding: 21px 25px;

                            h2 {
                                color: #f7f7f8;
                                font-size: 15px;
                                font-weight: 400;
                                letter-spacing: 0.07px;
                                line-height: 18px;
                            }
                        }

                        .bottom_container {
                            padding: 15px 17px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .info_container {
                                display: flex;
                                align-items: center;

                                p {
                                    color: #818181;
                                    font-family: Arial;
                                    font-size: 13px;
                                    font-weight: 400;
                                    letter-spacing: 0.07px;
                                    line-height: 15.6px;
                                    margin-right: 45px;

                                    i {
                                        margin-right: 5px;
                                    }
                                }
                            }

                            .more {
                                background-color: #004aa6;
                                background-color: #004aa6;
                                padding: 10px 13px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                i {
                                    font-size: 11px;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                .swiper-slide2 {
                    background-image: url('../images/slider_images/2.png');
                }

                .swiper-slide3 {
                    background-image: url('../images/slider_images/3.png');
                }


                .swiper-container {
                    width: 100%;
                    height: 100%;
                    background: #000;
                }

                .swiper-slide {
                    font-size: 18px;
                    color: #fff;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                .parallax-bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 130%;
                    height: 100%;
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                }
            }

            // End style
            .right_container {
                width: 370px;
                border: 1px solid #eeeeee;



                // Tabs style
                .top_container {
                    margin: 10px 0 0 0;
                    border-bottom: 1px solid #eeeeee;

                }

                .tab {
                    margin: 0 5px 10px 5px;
                    padding: 5px;
                    border-radius: 30px;
                    background-color: #f2f2f2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        border: none;
                        background: transparent;
                        outline: none;
                        cursor: pointer;
                        color: #999999;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15.6px;

                        i {
                            margin-right: 5px;
                            font-size: 10px;
                        }
                    }

                    .previous {
                        border-radius: 20px;
                        padding: 8px 0;
                        flex: 1;
                    }

                    .next {
                        border-radius: 20px;
                        padding: 8px 0;
                        flex: 1;
                    }

                    .active {
                        color: #0559c1;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15.6px;
                        background-color: #ffffff;

                    }
                }

                .tabcontent {
                    display: none;
                    padding: 26px 0px 0px 0;
                    flex-direction: column;

                    .active {
                        display: flex;
                    }

                    .inside_content {
                        display: flex;

                        .container {
                            padding: 0;
                            flex: 1;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            flex-direction: column;

                            span {
                                display: block;
                                color: #555555;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0.14px;
                                line-height: 16.8px;
                                margin-top: 15px;
                            }
                        }

                        .middle_side {
                            display: block;
                            text-align: center;

                            .score_container {
                                border: 1px solid #eeeeee;
                                padding: 12px 20px;
                                margin: 0 auto;
                                margin-top: 15px;
                                color: #333333;
                                font-size: 18px;
                            }

                            .video_container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 12px;
                                color: #555555;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0.14px;
                                line-height: 16.8px;
                                margin-top: 15px;

                                i{
                                    margin-right: 5px;
                                }
                                a {
                                    display: block;
                                    color: #777777;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0.14px;
                                    cursor: pointer;


                                    i {
                                        font-size: 5px;
                                        color: #004aa6;
                                        border: 1px solid #777;
                                        padding: 3px;
                                        padding-left: 4px;
                                        border-radius: 50%;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }

                    .bottom_side {
                        display: flex;
                        justify-content: center;
                        margin-top: 6px;

                        span {
                            display: block;
                            color: #999999;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 15.6px;
                            margin-left: 6px;
                        }
                    }

                    .bottom_container {
                        padding: 25px;
                        display: flex;
                        border-top: 1px solid #eeeeee;
                        margin-top: 16px;
                        align-items: center;

                        i {
                            font-size: 18px;
                            color: #9c9797;
                            margin-right: 10px;
                        }

                        span {
                            display: block;
                            color: #6d6d6d;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.14px;
                            line-height: 16.8px;
                        }

                        #getting-started {
                            color: #6d6d6d;
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0.14px;
                            line-height: 16.8px;
                            margin-left: 5px;
                        }
                    }
                }

                .hide_tab {
                    display: none;

                }

                .active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .show_tab {
                    align-items: initial;
                    justify-content: initial;
                }

                .hide_tab {
                    align-items: initial;
                    justify-content: initial;
                }
            }
        }
    }

    .reclam_baner {
        background-image: url('../images/reclam.png');
        height: 100px;
    }

    .web_content {
        padding: 15px;
        display: flex;
        flex-direction: column;

        .left_right_side {
            display: flex;
            justify-content: space-between;

            .left_side {
                border: 1px solid #eeeeee;
                width: 675px;

                button {
                    border: none;
                    border-radius: 3px;
                    background-image: linear-gradient(to top, #004aa6 0%, #055cc7 100%);
                    padding: 15px;
                    width: 643px;
                    margin: 0 15px 15px 15px;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.22px;
                    line-height: 19px;
                    outline: none;
                    cursor: pointer;
                }

                .top_container {
                    border-bottom: 1px solid #eeeeee;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .news {
                        display: flex;
                        align-items: center;

                        span {
                            display: block;
                            color: #333333;
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: 0.15px;
                            line-height: 18px;
                            margin-left: 7px;
                        }
                    }

                    .change_container {
                        display: flex;
                        justify-content: space-between;

                        .change {
                            border-radius: 3px;
                            background-color: #eaeaea;
                            padding: 12px;
                            cursor: pointer;

                            svg {
                                margin-right: 0;
                            }
                        }

                        :first-child {
                            margin-right: 12px;
                        }
                    }
                }

                .container {
                    display: flex;

                    .news_container {
                        display: flex;
                        flex-direction: column;
                        margin-right: 15px;

                        .news {
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
                            margin-bottom: 15px;

                            .news_image_container {
                                overflow: hidden;
                                position: relative;

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                }

                                .comment {
                                    background-color: rgba(0, 0, 0, 0.7);
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    padding: 10px 12px;
                                    display: flex;
                                    align-items: center;

                                    span {
                                        display: block;
                                        color: #fff;
                                        font-size: 13px;
                                        font-weight: 400;
                                        letter-spacing: 0.13px;
                                        line-height: 20px;
                                        margin-left: 5px;
                                    }
                                }
                            }

                            .news_title {
                                padding: 16px;

                                h3 {
                                    color: #333333;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0.22px;
                                    line-height: 19px;
                                }
                            }

                            .bottom_container {
                                padding: 20px;
                                display: flex;
                                border-top: 1px solid #eeeeee;
                                align-items: center;
                                justify-content: space-between;

                                .time {
                                    i {
                                        color: #888888;
                                        font-size: 15px;
                                    }

                                    span {
                                        color: #888888;
                                        font-size: 13px;
                                        font-weight: 400;
                                        letter-spacing: 0.21px;
                                        line-height: 20px;
                                        margin-left: 5px;
                                    }
                                }

                                .author {
                                    display: flex;
                                    align-items: center;

                                    span {
                                        color: #a9a9a9;
                                        font-size: 13px;
                                        font-weight: 400;
                                        letter-spacing: 0.13px;
                                        line-height: 20px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }

                    :last-child {
                        margin-right: 0;
                    }
                }
            }

            .right_side {
                border: 1px solid #eee;
                margin-left: 15px;
                width: 330px;

                .top_container {
                    margin: 10px 0 0 0;
                    border-bottom: 1px solid #eeeeee;

                    .tab {
                        margin: 0 5px 10px 5px;
                        padding: 5px;
                        border-radius: 30px;
                        background-color: #f2f2f2;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;

                        button {
                            border: none;
                            background: transparent;
                            outline: none;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                margin-right: 6px;
                            }
                        }

                        .active {
                            color: #0559c1;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 15.6px;
                            background-color: #ffffff;
                        }

                        .previous {
                            border-radius: 20px;
                            padding: 8px 0;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                        }

                        .next {
                            border-radius: 20px;
                            padding: 8px 0;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;

                            span {
                                color: #999999;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 15.6px;
                            }
                        }
                    }
                }
            }
        }

        .bottom_container {
            border: 1px solid #eeeeee;
            padding: 15px;
        }
    }
}